* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: #3a8d87;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.shown {
  border-radius: 14px;
}
